@font-face {
    font-family: 'SF Pro Display';
    src: url('/webfonts/sf-pro-display/SFProDisplay-Bold.woff2') format('woff2'),
        url('/webfonts/sf-pro-display/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/webfonts/sf-pro-display/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('/webfonts/sf-pro-display/SFProDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/webfonts/sf-pro-display/SFProDisplay-Medium.woff2') format('woff2'),
        url('/webfonts/sf-pro-display/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}