@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-BlackItalic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-Bold.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-Black.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-ExtraBold.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-BoldItalic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-ExtraBoldItalic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-Light.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-ExtraLight.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-Italic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-ExtraLightItalic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-Medium.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-LightItalic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-MediumItalic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-Thin.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-SemiBoldItalic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-SemiBold.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-Regular.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('/webfonts/aleo/Aleo-ThinItalic.woff2') format('woff2'),
        url('/webfonts/aleo/Aleo-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

